@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lg-flex: 3.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #302c42;
  color: #fff;
}

.hero,
.about {
  max-width: 85%;
  margin: 4rem auto 0 auto;
  position: relative;
}

.hero-div {
  display: flex;
  justify-content: space-between;
}

.hero-pattern {
  position: absolute;
  top: -100px;
  right: 0;
}

.hero-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-desc {
  margin-top: 1rem;
  font-size: 14px;
}

.hero-btn {
  margin-top: 2rem;
}

.hero-image {
  position: relative;
  z-index: 2;
  height: 434px;
  width: 498px;
}

.hero-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  padding-bottom: 4rem;
}

.hero-contact-div {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(57.9, 51.64, 86.06, 0.95) 0%,
    rgb(32.92, 30.08, 45.69) 100%
  );
  border-radius: 90px;
  box-shadow: 0px 4px 4px #c0b7e703;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.flexed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexed-and-justified {
  display: flex;
  justify-content: space-between;
}

.flexed h4 {
  font-weight: 700;
}

.flexed div p {
  font-size: 12px;
}

.hero-contact-border {
  border-right: 1px solid rgba(192, 183, 232, 0.33);
  padding: 0 1rem;
}

/* About section */
.about-heading div h2 {
  font-weight: 700;
  font-size: 36px;
}

.flexed-to-center {
  display: flex;
  align-items: center;
}

.flexed-to-center h3,
.typing-text {
  font-size: 36px;
  font-weight: 300;
}

.about-heading-details {
  width: 50%;
}

#about-btn {
  background: linear-gradient(
    180deg,
    rgb(128.7, 118.34, 175.31) 0%,
    rgb(192.14, 183.37, 231.63) 100%
  );
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 25px;
  color: #fff;
  margin-top: 1rem;
}

.flexed-about {
  max-width: 650px;
  padding: 2rem;
}

.flexed-about-div {
  margin-top: 4rem;
  position: relative;
}

#vector1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 211.75px;
  width: 1440px;
}

#vector2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 211.75px;
  width: 1440px;
}

.flexed-about-div img {
  width: 400px;
  height: 400px;
}

.flexed-about-div-img {
  position: relative;
  z-index: 20;
}

.flexed-about h2 {
  font-size: 26px;
  font-weight: 700;
}

.flexed-about h3 {
  font-size: 26px;
}

.flexed-about p {
  font-size: 14px;
  padding-top: 1rem;
}

/* Explore */
.explore {
  margin-top: 4rem;
}

.explore-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 500px;
  transition-property: flex;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.05, 0.6, 0.4, 0.9);
  cursor: pointer;
  position: relative;
}

.exp1 {
  flex: 10;
}

.exp {
  flex: 2;
}

.explore-heading {
  transform-origin: 0 0;
}

/* Tech Support */
.tech-bg-container {
  position: relative;
}

.tech-bg-container .tech-bg-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tech-bg-container .tech-bg-heading h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.tech-bg-container .tech-bg-heading h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.tech-support-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8rem;
  margin: 4rem 0 0 0;
}

.spacing-btw-elements {
  margin-top: 10rem;
}

.how-container {
  position: relative;
  margin-top: 5rem;
}

.how-vector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.how1 {
  background: linear-gradient(
    180deg,
    rgb(192.14, 183.37, 231.63) 0%,
    rgb(128.7, 118.34, 175.31) 100%
  );
  border-radius: 79.5px;
  height: 159px;
  width: 159px;
  position: relative;
}

.how-container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8rem;
}

.how1-heading {
  font-size: 18px;
  font-weight: 700;
  padding-top: 1rem;
}

.how1 p {
  font-size: 3.5rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Contact section */
.contact-div-container {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(64.26, 57.53, 94.56) 0%,
    rgb(32.92, 30.08, 45.69) 100%
  );
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: auto;
  padding: 2rem 0;
  width: 100%;
}

.contact-div-container h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 3rem;
}

.contact-vector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-div-container p {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.contact-grid input {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 40px;
  width: 100%;
  padding: 1.5rem 0px 1.5rem 20px;
  background: none;
  color: #ffffff;
  margin: 1.3rem 0;
}

.contact-input input {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 40px;
  width: 100%;
  padding: 1.5rem 0px 1.5rem 20px;
  background: none;
  color: #ffffff;
  margin: 1.3rem 0;
}

.contact-input textarea {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 40px;
  width: 100%;
  padding: 1.5rem 0px 1.5rem 20px;
  background: none;
  color: #ffffff;
  margin: 1.3rem 0;
}

.contact-form {
  max-width: 90%;
  width: 100%;
  margin: 4rem auto;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.contact-btn button {
  background: linear-gradient(
    180deg,
    rgb(128.7, 118.34, 175.31) 0%,
    rgb(192.14, 183.37, 231.63) 100%
  );
  border-radius: 40px;
  padding: 1rem 2rem;
}

/* Footer section */
footer {
  position: relative;
}

.footerCurveVector1 {
  position: absolute;
  top: 0;
  left: 0;
}

.footerCurveVector2 {
  position: absolute;
  top: 0;
  left: 0;
}

.flex-footer-details {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul li {
  font-size: 16px;
  padding-bottom: 16px;
  font-weight: 700;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.footnotes {
  margin-top: 2rem;
}

.footnotes p {
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #b2a8db;
  text-align: center;
  padding: 15px 0;
}

/* hero text */
/* height="44px" width="451px" */
.hero-text {
  height: 44px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .flexed {
    display: block;
  }

  .footnotes p {
    font-size: 9px;
  }

  footer ul {
    margin-top: 1.2rem;
  }

  .hero-container {
    width: 100%;
    display: block;
    padding-top: 1rem;
  }

  .hero-btn button {
    width: 100%;
  }

  .hero-contact-div {
    background: none;
    display: none;
    padding: 0px;
  }

  .hero-contact {
    margin-top: 0rem;
  }

  .hero-text {
    height: auto;
    width: auto;
    padding-top: 1rem;
  }

  .about-heading-details {
    width: 100%;
    padding-top: 1rem;
  }

  .about {
    max-width: 95%;
    margin: 4rem auto 0 auto;
    position: relative;
  }

  .flexed-about {
    padding: 0rem;
  }

  #about-btn {
    font-size: 12px;
    width: 100%;
  }

  .not-mobile {
    display: none;
  }

  .hero-image {
    position: relative;
    z-index: 2;
    height: 277px;
    width: 319px;
  }

  .explore-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    width: 100%;
    margin: 5px 0;
    height: 500px;
    transition-property: flex;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.05, 0.6, 0.4, 0.9);
    cursor: pointer;
    position: relative;
  }

  .how1 p {
    font-size: 10px;
  }

  .how1-heading {
    font-size: 8px;
  }

  .how1 {
    height: 50px;
    width: 50px;
    position: relative;
  }

  .how-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
  }

  .tech-bg-container .tech-bg-heading h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .tech-bg-container .tech-bg-heading h2 {
    font-size: 10px;
    text-align: center;
    font-weight: 700;
  }

  .tech-support-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 4rem 0 0 0;
  }

  .flex-footer-details {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-div-container p {
    font-size: 14px;
  }

  .contact-div-container {
    border-radius: 28px;
  }

  .contact-grid {
    display: block;
  }

  .tech-bg-container {
    margin-top: 10rem;
  }

  .about-heading div h2 {
    font-size: 20px;
    text-align: center;
  }

  .flexed-about h2 {
    font-size: 20px;
    margin-top: 2rem;
    text-align: center;
  }

  .flexed-to-center h3,
  .typing-text {
    font-size: 30px;
    text-align: center;
  }

  .flexed-to-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flexed-about h3 {
    font-size: 26px;
    text-align: center;
  }

  p.text-mobile-check {
    text-align: center;
  }

  .about-heading-details {
    text-align: center;
  }

  .flexed div p {
    text-align: center;
  }

  .contact-form {
    max-width: 95%;
  }

  footer ul li {  
    font-size: 12px;
  }

  footer h4 {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .explore-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: 500px;
    transition-property: flex;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.05, 0.6, 0.4, 0.9);
    cursor: pointer;
    position: relative;
  }

  .exp1 {
    flex: var(--lg-flex);
  }

  .exp {
    flex: 0.5;
  }

  .explore-heading {
    transform: rotate(-90deg);
  }

  .how1 p {
    font-size: 16px;
  }

  .how1-heading {
    font-size: 16px;
  }

  .how1 {
    height: 100px;
    width: 100px;
    position: relative;
  }

  .how1 .flexed {
  }

  .how-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .exp1 {
    flex: var(--lg-flex);
  }

  .exp {
    flex: 0.5;
  }

  .explore-heading {
    transform: rotate(-90deg);
  }
}
